menu "Example Configuration"
    config ESP_WIFI_SSID
	string "Wifi SSID"
	help
	    SSID of wifi network to be used

    config ESP_WIFI_PASS
	string "Wifi Password"
	help
	    Password of wifi network to be used

    config ESP_MQTT_URL
        string "Mqtt url"
        help
            Mqtt url using format: mqtt://ip_address:port_number

    config ESP_MQTT_USER
        string "MQTT user"
        help
            User used For MQTT authentication.

    config ESP_MQTT_PASS
        string "MQTT password"
        help
            User password used in authentication.
endmenu
